<div id="app">

  <header>
    <!-- Website name / Welcome message -->
    <h1>{{ sitename }}</h1>
  </header>

  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
  <link href='https://fonts.googleapis.com/css?family=Fraunces' rel='stylesheet'>
  <title>Coursework for Full Stack</title>

  <!--
    <header>
      Header using vue.js
      <h1 v-text="Coursework1Website"></h1>
    </header>
  -->
</div>

<main>
  <!-- Cart -->
  <a @click="toggleCart" id="cart" disabled><img alt="Cart" id="carticon" src="../public/images/cart-icon.png"> {{ NOfItemsInCart }}
  </a>
  <!--Function to show cart-->
  <!--<div v-if="cart">-->

  <!-- Search functionality via to do list workshop-->
  <div id="SearchFunctionality">
    <input type="text" id="searchBar">
    <button id="searchButton">Search lessons</button>
  </div>

  <!-- Displaying all lessons using v-for -->
  <div id="Lessons">
    <div id="lessonItems">
      <!-- Using v-for to loop through lessons array -->
      <!-- For each lesson in the array create a new div using the id as the key -->
      <div v-for="lesson in lessons" :key="lesson.id" class="lesson-item">

        <!-- Displaying lesson properties from lesson array -->
        <h3>{{ lesson.subject }}</h3>
        <p>Location: {{ lesson.location }}</p>
        <p>Price: £{{ lesson.price }} per hour</p>
        <p class="lessonDescription">{{ lesson.description }}</p>
        <p>Availability: {{ lesson.availability }} spaces</p>
        <!-- To display individual image from image property using v-bind:src -->
        <img v-bind:src="lesson.image" alt="Lesson Image" class="lesson-image">
        <br>
        <!-- Button to add to cart with Vue event handler, using id -->
        <!-- When availability is less than or equal to 0 disable button -->
        <button class="addToCartButton" @click="addToCart(lesson.id)" :disabled="lesson.availability <= 0">
          <!--Using ternary operator (IF statement TRUE ? option 1 : ELSE option 2)-->
          <!-- If lesson availability is greater than 0, then show "add to cart" for button, else show "no lessons available"-->
          {{ lesson.availability > 0 ? "Add to Cart" : "No lessons available" }}
        </button>

      </div>
    </div>
  </div>

  <div id="Lessons">
    <div id="Lesson1">
      <h3>Geography</h3>
      <p>Information: </p>
      <!--When clicked on, will add 1 lesson id to cart-->
      <button class="addToCartButton" value="Add to the Cart" @click="addToCart">Add to cart</button>
      <!-- v-on:click - when button is clicked add to cart function is ran -->
      <!-- v-show - when isAvailable is true the button will show, otherwise have added too many items to cart -->
      <!-- v-show="isAvailable -->
    </div>

    <div id="Lesson2">
      <h3>English</h3>
      <p>Information: </p>
      <button class="addToCartButton" value="Add to the Cart" @click="addToCart">Add to cart</button>
    </div>

    <div id="Lesson3">
      <h3>Maths</h3>
      <p>Information: {{ lessons.description }}</p>
      <button class="addToCartButton" value="Add to the Cart" v-if="isAvailable" @click="addToCart">Add to
        cart</button>
      <!-- IF ELSE CASE If you have added too many items, if else gets run
       where button gets disabled and message shows -->
      <div v-else>
        <button disabled>
          Disabled button
        </button>
        Selected the maximum number of available lessons
      </div>

    </div>
  </div>

</main>

<!--
</div>
Show cart outside of main page through cart div using if function (potential idea)
<div v-else>

</div>
-->

<!-- Checkout/cart section which will be shown after cart is clicked -->
<h1>Welcome to Checkout</h1>
<p><!--Binding name with v-model-->
  First name:
</p>
<input type="text" v-model="order.firstname">
<!--V-model- Gets sent to order.name, binding element with order.name-->

<p>Surname:</p>
<input type="text" v-model="order.surname">

<p>Phone number:</p>
<input type="text" v-model="order.phonenumber">

<p>Email:</p>
<input type="text" v-model="order.email">

<!--Select button using v-model-->
<p>Select region</p>
<select v-model="order.region">
  <option disabled>Select Region</option>
  <option v-bind:value="order.region">Europe</option>
  <option v-bind:value="order.region">USA</option>
  <option v-bind:value="order.region">Asia</option>
  <option v-bind:value="order.region">Middle East</option>
  <option v-bind:value="order.region">Africa</option>
</select>

<p>Zip/Postcode:</p>
<input type="text" v-model="order.postcode">

<p>Address:</p>
<input type="text" v-model="order.address">
<!--Button for checking out-->
<button v-on:click="submitCheckoutButton">Place Order</button>

<h2> Order Information </h2>
<p>Name: {{ order.firstname }}</p>
<p>Surname: {{ order.surname }}</p>
<p>Phone number: {{ order.phonenumber }}</p>
<p>Email: {{ order.email }}</p>
<p>Region: {{ order.region }}</p>
<p>Zip/Postcode: {{ order.postcode }}</p>
<p>Deliver to address: {{ order.address }}</p>
{{ order.lesson }}

<!--
using v-for without key
If you don't need key
<ol>
<li v-for="lesson in lessonCategories">{{lesson}}</li>
</ol>
-->

<!-- Checkbox and Radio buttons for method.order
<p><input type="checkbox" id="gift" value="true" v-model="order.gift">
<label for="gift">Ship As Gift?</label></p>

Radio gives the choices, if above is seleted as true, like home or business address
<p><input type="radio" id="home" value="Home" v-model="order.method"></p>
Can select default options in order with 'home' for method and false properties for gift
-->
